@import "base";

/* ------------------------------------------------------------ */

/* ----- 间隙 ----- */

.space {
  width: 100%;
  height: 20px;
  background: rgba(237, 237, 237, 0.3);
}

.title {
  font-size: 24px;
  color: #aaaaaa;
  text-align: center;
  margin: 40px 0;
}

/* ------------------------------------------------------------ */

/* ----- 头部 ----- */

.head-wrap {
  width: 100%;
  height: 88px;
  .head {
    width: 100%;
    height: 88px;
    line-height: 88px;
    text-align: center;
    background: #151519;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 22;
    color: #ffffff;
    font-size: 36px;
    display: flex;
    .back-wrap, .share-wrap, .search-bar {
      flex: 1;
    }
    .back-btn {
      width: 18px;
      height: 30px;
      background: url('../img/back.png') no-repeat;
      background-size: 100% 100%;
    }
    .share-btn, .search-btn {
      width: 30px;
      height: 30px;
    }
    .share-btn {
      background: url('../img/share.png') no-repeat;
      background-size: 100% 100%;
    }
    .search-btn {
      background: url('../img/search-nc.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}

.banner-info {
  display: flex;
  margin-bottom: 40px;
  .deliveryTime, .score {
    font-size: 24px;
    flex: 0.5;
    color: #aaaaaa;
  }
  .deliveryTime {
    padding-left: 30px;
  }
  .score {
    text-align: right;
    padding-right: 30px;
  }
}

/* ------------------------------------------------------------ */

/* ----- 评论列表 ----- */

.ratings-list {
  margin-bottom: 40px;
  position: relative;
  .user-portrait {
    width: 100px;
    height: 100px;
    & > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #ededed;
    }
  }
  .user-info {
    width: calc(100% - 20px);
    line-height: 26px;
    color: #5D5D5D;
    .user-name {
      width: 100%;
      height: 60px;
      line-height: 60px;
      font-size: 30px;
      margin-bottom: 5px;
    }
    .rat-date {
      font-size: 24px;
      color: #959595;
    }
    & > span {
      display: inline-block;
    }
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background: rgb(237, 237, 237);
    }
  }
  .fabu-num {
    font-size: 24px;
    margin-top: 5px;
    margin-right: 30px;
  }
  .change-sty {
    font-size: 28px;
    line-height: 50px;
    margin: 20px 30px 20px 0;
  }
}

/* ------------------------------------------------------------ */

/* ----- 弹层 ----- */

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 23;
  background: rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------ */

/* ----- 小按钮 ----- */

.music-bar {
  display: flex;
  height: 60px;
  color: #aaaaaa;
  text-align: center;
  border-top: 1px solid rgba(237, 237, 237, 0.5);
  border-bottom: 1px solid rgba(237, 237, 237, 0.5);
  .icon-share-bar, .icon-thumbs-bar, .icon-collect-bar, .icon-copy-bar {
    flex: 33;
  }
  .thumbs-num {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    margin-left: 80px;
    padding-top: 6px;
  }
}

/* ------------------------------------------------------------ */

/* ----- Tab切换 ----- */

.tab {
  font-size: 28px;
  height: 100px;
  line-height: 100px;
  display: flex;
  text-align: center;
  margin-bottom: 40px;
  .tab-list {
    flex: 1;
  }
  .cur-underline {
    border-bottom: 2px solid #161619;
  }
}

/* ------------------------------------------------------------ */

/* ----- 公共小图标 ----- */

.icon-thumbs-bar, .icon-collect-bar, .icon-write-bar,
.icon-copy-bar, .icon-share, .icon-share-bar {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

// 点赞
.icon-thumbs-bar {
  background-image: url("../img/thumbs-nc.png");
}

.icon-thumbs-bar.clickThumbs {
  background-image: url("../img/thumbs-c.png");
}

// 收藏
.icon-collect-bar {
  background-image: url("../img/collect-nc.png");
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background: rgba(237, 237, 237, 0.8);
    position: absolute;
    right: 0;
    top: 15px;
  }
}

.icon-collect-bar.clickCollect {
  background-image: url("../img/collect-c.png");
}

// 评论
.icon-write-bar {
  background-image: url("../img/write-rat.png");
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background: rgba(237, 237, 237, 0.8);
    position: absolute;
    right: 0;
    top: 15px;
  }
}

// 复制
.icon-copy-bar {
  background-image: url("../img/lines-copy.png");
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background: rgba(237, 237, 237, 0.8);
    position: absolute;
    right: 0;
    top: 15px;
  }
}

// 分享
.icon-share-bar {
  background-image: url("../img/share.png");
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background: rgba(237, 237, 237, 0.8);
    position: absolute;
    right: 0;
    top: 15px;
  }
}
